<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ningmeng.manage_course.dao.CourseMapper">
   
    <select id="findCourseBaseById" parameterType="java.lang.String"
            resultType="com.ningmeng.framework.domain.course.CourseBase">
        select * from course_base where id = #{id}
    </select>

    <select id="findCourseListPage" resultType="com.ningmeng.framework.domain.course.ext.CourseInfo" parameterType="java.lang.String">
            SELECT * FROM course_base b LEFT JOIN course_pic p ON b.id = p.courseid where b.id = #{id}
    </select>
</mapper>